.Chapters {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media($min-desktop) {
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
  }
}

.Chapter {
  background-color: $brand-color;
  display: flex;
  flex-direction: column;
  color: $white;
  padding: $base-spacing;
  justify-content: center;
  margin: $small-spacing 0;
  width: 300px;
  border-radius: $base-border-radius;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  @include media($min-desktop) {
    margin: $base-spacing $small-spacing;
  }

  &-name {
    font-size: 1.5rem;
    text-align: center;
  }

  &-location {
    font-size: 1.2rem;
    text-align: center;
  }

  &:hover {
    color: $white;
  }
}

.Events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  @include media($min-desktop) {
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
  }
}

.Event {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: $base-spacing;
  justify-content: center;
  margin: $small-spacing 0;
  border: 3px solid $brand-color;
  border-radius: $base-border-radius;

  @include media($min-desktop) {
    margin: $small-spacing;
  }

  &-date, &-time, &-sponsor, &-location {
    text-align: center;
    margin-bottom: 5px;
    color: $black;
  }

  &-time, &-location {
    font-size: .8rem;
  }

  &-name {
    font-size: 1.2rem;
    text-align: center;
    margin: $small-spacing 0;
    color: $black;
    font-weight: $bold-font-weight;
  }
}

.Connect {
  display: flex;

  &-item {
    margin: $small-spacing;
    width: 50%;
  }
}

.SocialLinks {
  // text-align: center;
  margin-bottom: 2rem;

  a:hover {
    text-decoration: none;
  }
  svg {
    margin: 0 $small-spacing;
    height: 40px;
    width: 40px;
    fill: $dark-gray-color;
  }

  a:first-child svg {
    margin: 0;
  }
}

.CodeReview {
  margin-bottom: 4rem;
}