.Section {
  width: 100%;
  display: flex;
  justify-content: center;

  &-content {
    max-width: $desktop-width;
    padding: $base-spacing;
  }
}

.Welcome {
  background-color: $light-gray;
}

.Personas {
  margin: $base-spacing auto;
  
  @include media($min-desktop) {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}

.Persona {
  margin: $small-spacing;
  display: flex;
  flex-direction: column;

  &-img {
    align-self: center;
  }

  &-title {
    font-size: 1.2rem;
    text-align: center;
    margin-top: $small-spacing;
  }
}

.BlogPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing;

  @include media($min-desktop) {
    flex-direction: row;
  }

  &-title {
    font-weight: $font-weight-bold;
    font-size: 1.5rem;
  }

  &-description {
    padding: 0 $base-spacing;
    
    @include media($min-desktop) {
      flex: 2;
    }

  }
}

.Blog-link {
  font-weight: $font-weight-normal;
  color: $black;
  font-size: 1.2rem;
}

.Vision {
  background-color: $brand-color;
  text-align: center;
  color: $white;
  font-size: 1.2rem;

  @include media($min-desktop) {
    font-size: 1.5rem;
  }
}

.Statistics {
  display: flex;
  flex-direction: column;

  &-charts {
    display: flex;
    justify-content: center;
  }

  @include media($min-desktop) {
    flex-direction: row;
  }
}

.Pie {
  margin: $small-spacing;
  max-width: 200px;
  max-height: 200px;

  @include media($min-desktop) {
    &--small {
      max-width: 150px;
    }
  }
}
