$section-width: 554px;

.Section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: $large-spacing 0;

  &-heading {
    margin: $large-spacing 0 $base-spacing;
  }

  &-content {
    // max-width: $desktop-text-width;
    max-width: $section-width;
    margin: $small-spacing $base-spacing $base-spacing;

    &--split {
      display: flex;
      justify-content: space-between;
    }

    &--centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: $section-width;
      // justify-content: center;
    }
  }

  &-half {
    width: 50%;
    max-width: $section-width;
  }

}

.BackgroundHeading {
  z-index: -1;
  position: absolute;
  top: 0;
  max-width: 1375px;
}


.Personas {
  margin: $base-spacing auto;
  
  @include media($min-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.Persona {
  margin: $small-spacing;
  display: flex;
  flex-direction: column;

  &-img {
    align-self: center;
    border-radius: $base-border-radius;
  }

  &-title {
    font-size: 1.2rem;
    text-align: center;
    margin-top: $small-spacing;
  }
}

.LatestBlog {
  background-color: $light-gray;

  &-link {
    font-weight: $base-font-weight;
    color: $black;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      margin-left: .5rem;
    }
  }
}

.BlogPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing;

  @include media($min-desktop) {
    flex-direction: row;
  }

  &-title {
    font-weight: $bold-font-weight;
    font-size: 1.5rem;
    flex: 1 1;
  }

  &-description {
    @include media($min-desktop) {
      padding: 0 $base-spacing;
      flex: 2 1;
    }

  }
}

.Vision {
  background-color: $brand-color;
  text-align: center;
  color: $white;
  font-size: 1.2rem;
  padding: 1rem 0;
  
  .Section-content {
    max-width: $desktop-width;
  }

  @include media($min-desktop) {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

.Statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

  &-background {
    background: #FFF7E4;
    width: 286px;
    height: 286px;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    z-index: -1;

    &--blue {
      background: #EBF3FB;
    }

    &--red {
      background: #F7EAEA;
    }
  }

    &-number {
      font-size: 135px;
      color: $green;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-text {
      font-family: $sans-serif-font-family;
      font-weight: $light-font-weight;
      width: 400px;
    }
}