.Cover {
  color: $white;
  margin-bottom: $large-spacing;

  @include media($min-tablet) {
    background-image: url('../../assets/images/Dev_TogetherCoverImage.jpg');
  }

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  &-text {
    max-width: $desktop-text-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    // margin-top: 90px;
  }

  &-title {
    font-size: $large-font-size;
    margin-bottom: 15px;
  }

  &-subtitle {
    font-size: $med-font-size;
    font-weight: $light-font-weight;
  }

  &-scroll {
    font-family: $mono-font-family;
    margin-top: 90px;
  }
}