$cover-spacing: 40px;

.Cover {
  color: $white;
  background-image: url('../../assets/images/Dev_TogetherCoverImage.jpg');
  margin-bottom: $large-spacing;

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    max-width: $desktop-text-width;
    text-align: center;
    margin-top: $base-spacing;
  }

  &-title {
    font-size: $large-font-size;
    margin-bottom: $cover-spacing;
  }

  &-subtitle {
    font-size: $med-font-size;
    font-weight: $light-font-weight;
    margin-bottom: $cover-spacing;
  }

  &-scroll {
    font-family: $mono-font-family;
    margin-top: $cover-spacing * 2;
  }
}