$footer-spacing: 130px;

.GlobalFooter {
  background-color: $charcoal;
  color: $white;
  padding-top: $footer-spacing;
  text-align: center;

  .BackgroundHeading {
    z-index: 0;
  }

  .Section-heading {
    z-index: 1;
  }

  ul {
    list-style: none;
    border-top: 3px solid $dark-gray;
    display: flex;
    justify-content: center;
    margin: $small-spacing;
    flex-direction: column;
    text-align: center;
    padding: 0;

    @include media($min-desktop) {
      flex-direction: row;
    }

    li {
      margin: $small-spacing $base-spacing;
      a {
        color: $white;
        font-weight: $bold-font-weight;
      }
    }
  }
}

.email-signup {
  margin-top: $base-spacing;

  .mc-field-group {

    &.input-group {
      flex-direction: column;
      align-items: initial;
      
      ul {
        list-style: none;
      }
    }
  }

  label {
    font-weight: 400;
  }

  ul {
    padding-left: 0;
  }

  input {
    margin-bottom: 1em;
  }
}

.Copyright {
  font-weight: $light-font-weight;
  font-family: $sans-serif-font-family;
  padding: $small-spacing;
  font-size: 16px;
}

.social {
  padding-left: 0;
  li {
    display: inline-block;
    margin-left: 5px;
  }

  a {
    @include transition(opacity .15s ease-in-out);
    text-decoration: none;
    opacity: .5;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  .icon {
    font-size: 1.2rem;
  }
}
