

.icon-share {
  background: url(../fonts/symbol-defs.svg#icon-share2) no-repeat;
}
.icon {
   background-size: 32px 96px;
}

.icon-facebook { background: url(../fonts/symbol-defs.svg#icon-facebook) no-repeat; }
/*.icon-github:before { content: $icon-github; }
.icon-google:before { content: $icon-github; }
.icon-twitter:before { content: $icon-twitter; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-instagram:before { content: $icon-instagram; }

*/