ol, ul {
  font-family: $sans-serif-font-family;
  line-height: 2;
  margin-bottom: $small-spacing;
  padding-left: $small-spacing;
  margin-left: $small-spacing / 2;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
