.Post {
  p, blockquote, code, h1, h2, h3, h4, h5, h6, ul, ol, pre, iframe, .highlighter-rouge {
    grid-column-start: 2;
    grid-column-end: span 4;
  }

  h2 {
    font-size: $med-font-size;
    margin-bottom: 0;
  }

  iframe {
    display: block;
    margin: auto;
  }

  blockquote {
    padding: $small-spacing 35px;
  }

  .PostImage {
    // grid-column-start: 1;
    grid-column-end: span 6;
    margin: $base-spacing 0 $base-spacing / 2;
    font-size: $small-font-size;

    // &:nth-child(odd) {
    //   grid-column-start: 2;
    // }

    & + * {
      margin: $base-spacing / 2 0;
    }
  }
}

.PostHeader {
  .Grid {
    margin-top: $small-spacing;
    padding-bottom: 0;
  }

  .GridItem:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    left: 5%;
    
    svg {
      display: none;

      @include media($min-desktop) {
        display: block;
        width: 100%;
        opacity: .8;
      }
    }
  }

  .GridItem:nth-child(2) {
    grid-row-start: 1;
    z-index: 1;
  }

  h1 {
    margin-top: 0;
    margin-bottom: $small-spacing;
    
    @include media($min-desktop) {
      margin-top: $base-spacing;
    }
  }
}