.Splash {
  color: $white;
  background-image: url('../../assets/images/SplashImg.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  &-text {
    margin: 0 20px;
    text-align: center;
    max-width: $desktop-width;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-title {
    font-size: 2rem;
    margin: 0 0 20px;
    font-weight: $font-weight-normal;

    @include media($min-tablet) {
      font-size: 3rem;
    }

    @include media($min-tablet-large) {
      font-size: 3.6rem;
    }

    @include media($min-desktop-large) {
      font-size: 4rem;
    }
  }

  &-subtitle {
    margin-bottom: $small-spacing;
    font-size: 1.3em;
    font-family: $serif-font-family;
    font-weight: $font-weight-normal;
    font-style: italic;

    @include media($min-tablet-large) {
      font-size: 1.5rem;
    }
  }

  &-leadin {
    margin-bottom: $small-spacing;
    font-size: 1.3em;
    font-family: $base-font-family;
    font-weight: $font-weight-normal;

    @include media($min-tablet-large) {
      font-size: 1.5rem;
    }
  }
  
  circle {
    /* circle border animation */
    @include transition(stroke-dashoffset $animation-duration - .3s 0s);
  }
}