.Splash {
  color: $white;
  background-color: $brand-color;
  
  @include media($min-tablet) {
    background-image: url('../../assets/images/SplashImg.jpg');
  }

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  &-text {
    margin: 0 20px;
    text-align: center;
    max-width: $desktop-width;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }

  &-title {
    font-size: 3rem;
    margin: 0 0 20px;
    font-weight: $font-weight-normal;

    @include media($min-tablet-large) {
      font-size: 3.6rem;
    }

    @include media($min-desktop-large) {
      font-size: 4rem;
    }
  }

  &-subtitle {
    margin-bottom: $small-spacing;
    font-size: 1.3em;
    font-family: $serif-font-family;
    font-weight: $font-weight-normal;
    font-style: italic;
    display: none;

    @include media($min-tablet) {
      display: inline-block;
    }

    @include media($min-tablet-large) {
      font-size: 1.5rem;
    }
  }

  &-leadin {
    background-color: $brand-color;
    width: 100%;
    text-align: center;
    padding: $small-spacing 0 .5rem;

    @include media($min-tablet-large) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-leadinText {
    margin: 0 2rem .5rem;
    font-family: $base-font-family;
    font-weight: $font-weight-bold;
    max-width: 800px;

    @include media($min-tablet-large) {
      // font-size: 1.5rem;
    }
  }

  &-scroll {

    circle {
      transition: fill .5s;
    }

    &:hover {
      cursor: pointer;
      
      circle {
        fill: $brand-dark;
      }
    }
  }
}