body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1, .h1 {
  font-size: $giant-font-size;
  margin: $base-spacing 0;
  font-family: $serif-font-family;
  font-weight: $bold-font-weight;
}

h2, .h2 {
  font-size: $large-font-size;
  font-family: $sans-serif-font-family;
  font-weight: $bold-font-weight;
}

h3, .h3 {
  font-size: $med-font-size;
}

p {
  margin: 0 0 $small-spacing;
}

a, .Link {
  color: $link-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
    color: $green;
  }
}

.Link {
  &--light {
    color: $white;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
      color: $light-yellow;
    }
  }
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: lighten($light-gray, 6%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;

  code {
    line-height: 1.75em;
  }
}

blockquote {
  border-left: 3px solid $green;
  padding-left: $base-spacing;
  font-style: italic;
}

strong {
  font-weight: $bold-font-weight;
  font-size: 1.2rem;
  color: $green;
}

.Subtitle {
  font-family: $sans-serif-font-family;
  font-weight: $light-font-weight;
  font-size: $med-font-size;
}
